In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import os

In [5]:
# Import data files
orders_df= pd.read_csv((r'C:\Users\analy\Documents\Instacart Basket Analysis\02 Data\manipulated\W.orders.csv'), index_col= False)

In [6]:
product_df = pd.read_csv(r'C:\Users\analy\Documents\Instacart Basket Analysis\02 Data\Original\products.csv', index_col = False)

### Correcting mixed data type

In [7]:
df_test = pd.DataFrame()

In [9]:
df_test['mix'] = ['a', 'b', 1, True]

In [10]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

The structure that’s being used in this code is called a “for-loop.” The “for” in for-loop stands for “for these elements, do this,” and the “loop” describes how the structure works

In [12]:
# detect mixed-type columns
for col in df_test.columns:
    col_types = df_test[col].apply(type)
    if len(col_types.unique()) > 1:
        print(col)

mix

In [13]:
df_test['mix'] = df_test['mix'].astype('str')

### Missing Values

In [18]:
product_df.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [21]:
nan_df=product_df[product_df['product_name'].isnull()== True]

In [22]:
nan_df

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [23]:
Cproduct_df= nan_df=product_df[product_df['product_name'].isnull()== False]

In [24]:
Cproduct_df

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49690,49686,Artisan Baguette,112,3,7.8
49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49692,49688,Fresh Foaming Cleanser,73,11,13.5

### finding and removing duplicates

In [27]:
df_dups = Cproduct_df[Cproduct_df.duplicated()]

In [28]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [30]:
Cproduct_df = Cproduct_df.drop_duplicates()

In [31]:
Cproduct_df

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49690,49686,Artisan Baguette,112,3,7.8
49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49692,49688,Fresh Foaming Cleanser,73,11,13.5

In [32]:
Cproduct_df.to_csv(r'C:\Users\analy\Documents\Instacart Basket Analysis\02 Data\manipulated\Cproducts.csv')

# Task.4.5

In [36]:
# Importing Wrangled orders data
orders_df=pd.read_csv(r'C:\Users\analy\Documents\Instacart Basket Analysis\02 Data\manipulated\W.orders.csv', index_col = False)

In [38]:
# detect mixed-type columns
for col in orders_df.columns:
    col_types = orders_df[col].apply(type)
    if len(col_types.unique()) > 1:
        print(col)

no mixed columns data types were found

## view descriptive statistics of orders data

In [39]:
orders_df.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

#order_id: Sequential and unique — no issues. Min is 1, max matches row count.

#uder_id: Range from 1 to ~206K — looks fine. No extreme values.

#order_number : Max is 100, while 75% of users have ≤23 orders — suggests a few users have very high repeat orders. Could be outliers.

#orders_day_of_week: Range from 0 to 6 — expected for days of the week. No issues.

#order_time:Range from 0 to 23 — represents hours in a day. Distribution looks normal.

#days_since_prior_order: Missing values: ~206K rows are missing (count < total). Max is 30, but mean is ~11 — suggests some users wait a long time between orders. Could be seasonal or inactive users.

#### find missing values

In [41]:
orders_df.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
order_number                   0
orders_day_of_week             0
order_time                     0
days_since_prior_order    206209
dtype: int64

only days since prior order column has majority of missing values as 0. this means that this customer did not order again since his last order. this is importan information to know who are the repeated customers and who are not. therefore, i will keep this data that apears as missing for later analysis.

### find duplicates

In [42]:
dup_orders_df= orders_df[orders_df.duplicated()]

In [43]:
dup_orders_df

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, order_number, orders_day_of_week, order_time, days_since_prior_order]
Index: []

there was no duplicates found therfore, i will keep using the uploaded orders_df file as it is because i did not do any changes. no need to resave it.