In [2]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [20]:
pr_or_d = pd.read_csv(r'C:\Users\analy\Documents\Instacart Basket Analysis\02 Data\Original\orders_products_prior.csv')

In [21]:
orders_df = pd.read_csv(r'C:\Users\analy\Documents\Instacart Basket Analysis\02 Data\Manipulated\W.orders.csv')

In [22]:
pr_or_d.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [23]:
pr_or_d.shape

(32434489, 4)

In [24]:
orders_df.shape

(3421083, 7)

In [25]:
orders_df.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [27]:
merged_pr_o= orders_df.merge(pr_or_d, on = 'order_id', indicator= True)

In [29]:
merged_pr_o.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [31]:
merged_pr_o['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [34]:
merged_pr_o.to_pickle(r'C:\Users\analy\Documents\Instacart Basket Analysis\02 Data\Manipulated\orders_product_Combined.pkl')