# Importing libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# Importing data

In [2]:
#Import DATA
orders_df = pd.read_csv(r'C:\Users\analy\Documents\Instacart Basket Analysis\02 Data\Original\orders.csv', index_col = False)
product_df = pd.read_csv(r'C:\Users\analy\Documents\Instacart Basket Analysis\02 Data\Original\products.csv', index_col = False)

In [4]:
orders_df .shape

(3421083, 7)

In [5]:
product_df.shape

(49693, 5)

In [3]:
vars_list= ['order_id', 'user_id', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order']

In [6]:
#Import DATA clean
orders_df = pd.read_csv(r'C:\Users\analy\Documents\Instacart Basket Analysis\02 Data\Original\orders.csv', usecols=vars_list, index_col = False)

NameError: name 'vars_list' is not defined

# Wrangeling data

In [7]:
orders_df['days_since_prior_order'].value_counts(dropna= False)

days_since_prior_order
30.0    369323
7.0     320608
6.0     240013
4.0     221696
3.0     217005
5.0     214503
NaN     206209
2.0     193206
8.0     181717
1.0     145247
9.0     118188
14.0    100230
10.0     95186
13.0     83214
11.0     80970
12.0     76146
0.0      67755
15.0     66579
16.0     46941
21.0     45470
17.0     39245
20.0     38527
18.0     35881
19.0     34384
22.0     32012
28.0     26777
23.0     23885
27.0     22013
24.0     20712
25.0     19234
29.0     19191
26.0     19016
Name: count, dtype: int64

In [8]:
orders_df.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

In [9]:
orders_df['order_id'] = orders_df['order_id'].astype('str')

In [12]:
orders_df['user_id'] = orders_df['user_id'].astype('str')

In [71]:
orders_df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [13]:
#importing departments data
dep_df= pd.read_csv(r'C:\Users\analy\Documents\Instacart Basket Analysis\02 Data\Original\departments.csv', index_col = False)

In [76]:
product_df.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [15]:
dep_df.head()

,department_id,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,department,frozen,other,bakery,produce,alcohol,international,beverages,pets,dry goods pasta,...,meat seafood,pantry,breakfast,canned goods,dairy eggs,household,babies,snacks,deli,missing

In [16]:
# Transposing departments df
dep_df.T

                             0
department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [17]:
dep_df_t= dep_df.T

In [18]:
dep_df_t

                             0
department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [19]:
dep_df_t.reset_index()

            index                0
0   department_id       department
1               1           frozen
2               2            other
3               3           bakery
4               4          produce
5               5          alcohol
6               6    international
7               7        beverages
8               8             pets
9               9  dry goods pasta
10             10             bulk
11             11    personal care
12             12     meat seafood
13             13           pantry
14             14        breakfast
15             15     canned goods
16             16       dairy eggs
17             17        household
18             18           babies
19             19           snacks
20             20             deli
21             21          missing

In [7]:
dep_df_t.shape

NameError: name 'dep_df_t' is not defined

# copy the content of raw 0 as newh header to later use

In [27]:
NewHeader= dep_df_t.iloc[0]

In [28]:
# create a new df without raw 0
dep_df_t_N= dep_df_t[1:]

In [29]:
dep_df_t_N.reset_index()

   index                0
0      1           frozen
1      2            other
2      3           bakery
3      4          produce
4      5          alcohol
5      6    international
6      7        beverages
7      8             pets
8      9  dry goods pasta
9     10             bulk
10    11    personal care
11    12     meat seafood
12    13           pantry
13    14        breakfast
14    15     canned goods
15    16       dairy eggs
16    17        household
17    18           babies
18    19           snacks
19    20             deli
20    21          missing

In [30]:
NewHeader

0    department
Name: department_id, dtype: object

In [32]:
dep_df_t_N.columns = NewHeader

In [39]:
dep_df_t_N.head()

department_id index department
0                 1     frozen
1                 2      other
2                 3     bakery
3                 4    produce
4                 5    alcohol

In [40]:
dep_df_t_N = dep_df_t_N.rename(columns={
    'index': 'department_id',
    'department_id': 'index'
})

In [41]:
dep_df_t_N.head()

department_id department_id department
0                         1     frozen
1                         2      other
2                         3     bakery
3                         4    produce
4                         5    alcohol

In [42]:
dep_df_t_N = dep_df_t_N.rename(columns={
    'index': 'temp_index'
})

In [43]:
dep_df_t_N = dep_df_t_N.rename(columns={
    'department_id': 'index',
    'temp_index': 'department_id'
})

In [44]:
dep_df_t_N.head()

department_id index department
0                 1     frozen
1                 2      other
2                 3     bakery
3                 4    produce
4                 5    alcohol

In [8]:
dep_df_t_N.shape

NameError: name 'dep_df_t_N' is not defined

In [47]:
data_dict = dep_df_t_N.to_dict('index')

In [49]:
data_dict

{0: {'index': '1', 'department': 'frozen'},
 1: {'index': '2', 'department': 'other'},
 2: {'index': '3', 'department': 'bakery'},
 3: {'index': '4', 'department': 'produce'},
 4: {'index': '5', 'department': 'alcohol'},
 5: {'index': '6', 'department': 'international'},
 6: {'index': '7', 'department': 'beverages'},
 7: {'index': '8', 'department': 'pets'},
 8: {'index': '9', 'department': 'dry goods pasta'},
 9: {'index': '10', 'department': 'bulk'},
 10: {'index': '11', 'department': 'personal care'},
 11: {'index': '12', 'department': 'meat seafood'},
 12: {'index': '13', 'department': 'pantry'},
 13: {'index': '14', 'department': 'breakfast'},
 14: {'index': '15', 'department': 'canned goods'},
 15: {'index': '16', 'department': 'dairy eggs'},
 16: {'index': '17', 'department': 'household'},
 17: {'index': '18', 'department': 'babies'},
 18: {'index': '19', 'department': 'snacks'},
 19: {'index': '20', 'department': 'deli'},
 20: {'index': '21', 'department': 'missing'}}

In [53]:
print(data_dict.get('19'))

None

In [54]:
print(list(data_dict.keys())[:5])  # See first few keys
print(type(list(data_dict.keys())[0]))  # Check key type

[0, 1, 2, 3, 4]
<class 'int'>

In [55]:
dep_df_t_N_indexed = dep_df_t_N.set_index('index')
data_dict = dep_df_t_N_indexed.to_dict('index')

In [56]:
print(data_dict.get('19'))  # string key

{'department': 'snacks'}

* setting up snacks dataframe

In [63]:
snacks_df =  product_df[product_df['department_id']==19]

In [66]:
orders_df.to_csv(os.path.join(r'C:\Users\analy\Documents\Instacart Basket Analysis\02 Data\manipulated', 'W.orders.csv'))

In [67]:
snacks_df.to_csv(os.path.join(r'C:\Users\analy\Documents\Instacart Basket Analysis\02 Data\manipulated', 'W.snacks.csv'))

In [68]:
dep_df_t_N_indexed.to_csv(os.path.join(r'C:\Users\analy\Documents\Instacart Basket Analysis\02 Data\manipulated', 'dep_df_t_N_indexed.csv'))

In [10]:
dep_df_t_N_indexed=pd.read_csv(os.path.join(r'C:\Users\analy\Documents\Instacart Basket Analysis\02 Data\manipulated', 'dep_df_t_N_indexed.csv'))

In [11]:
dep_df_t_N_indexed.shape

(21, 2)

# Task.4.4

#### renaming column and type

In [70]:
orders_df['user_id'] = orders_df['user_id'].astype('str')

In [72]:
orders_df.rename(columns={'order_hour_of_day' : 'order_time'}, inplace=True)

#### the busiest hour for placing orders

In [73]:
orders_df['order_time'].value_counts(dropna=False)

order_time
10    288418
11    284728
15    283639
14    283042
13    277999
12    272841
16    272553
9     257812
17    228795
18    182912
8     178201
19    140569
20    104292
7      91868
21     78109
22     61468
23     40043
6      30529
0      22758
1      12398
5       9569
2       7539
4       5527
3       5474
Name: count, dtype: int64

#### the meaning behind a value of 4 in the "department_id" column within

In [74]:
print(data_dict.get('4'))

{'department': 'produce'}

####  breakfast item sales

In [77]:
breakfast_df= product_df[product_df['department_id']==14]

In [78]:
breakfast_df

,product_id,product_name,aisle_id,department_id,prices
27,28,Wheat Chex Cereal,121,14,10.1
33,34,NaN,121,14,12.2
67,68,"Pancake Mix, Buttermilk",130,14,13.7
89,90,Smorz Cereal,121,14,3.9
210,211,Gluten Free Organic Cereal Coconut Maple Vanilla,130,14,3.6
...,...,...,...,...,...
49330,49326,Cereal Variety Fun Pack,121,14,9.1
49395,49391,Light and Fluffy Buttermilk Pancake Mix,130,14,2.0
49547,49543,Chocolate Cheerios Cereal,121,14,10.8
49637,49633,Shake 'N Pour Buttermilk Pancake Mix,130,14,14.2
49667,49663,Ultra Protein Power Crunch Peanut Butter N' Ho...,57,14,10.2

#### dinner data set

In [79]:
Dinner_df= breakfast_df= product_df[product_df['department_id'].isin([5,7,12])]

In [80]:
Dinner_df

,product_id,product_name,aisle_id,department_id,prices
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
6,7,Pure Coconut Water With Orange,98,7,4.4
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4
10,11,Peach Mango Juice,31,7,2.8
16,17,Rendered Duck Fat,35,12,17.1
...,...,...,...,...,...
49676,49672,Cafe Mocha K-Cup Packs,26,7,6.5
49679,49675,Cinnamon Dolce Keurig Brewed K Cups,26,7,14.0
49680,49676,Ultra Red Energy Drink,64,7,14.5
49686,49682,California Limeade,98,7,4.3
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3

###### Dinne_df has 6328 rows Ã— 5 columns

#### user_id 1 subset table

In [81]:
user1_df= orders_df[orders_df['user_id']=='1']

In [82]:
user1_df

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
5,3367565,1,6,2,7,19.0
6,550135,1,7,1,9,20.0
7,3108588,1,8,1,14,14.0
8,2295261,1,9,1,16,0.0
9,2550362,1,10,4,8,30.0
10,1187899,1,11,4,8,14.0

user_id 1 has 11 orders, most orders are between 7 and 8 am. order frequency minimum evey 14 days. he order from sunday until wednesday only.

In [84]:
orders_df.to_csv(os.path.join(r'C:\Users\analy\Documents\Instacart Basket Analysis\02 Data\manipulated', 'W.orders.csv'))