In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

#### importing dataframes

In [3]:
merged_pr_o=pd.read_pickle(r'C:\Users\analy\Documents\Instacart Basket Analysis\02 Data\Manipulated\orders_product_Combined.pkl')

In [5]:
Cproducts_df=pd.read_csv(r'C:\Users\analy\Documents\Instacart Basket Analysis\02 Data\Manipulated\Cproducts.csv')

In [8]:
merged_pr_o.shape

(32434489, 11)

In [15]:
# droping the _merge column to create new one in the new merge
merged_pr_o.drop(columns=['_merge'], inplace=True)

In [19]:
merged_pr_o.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered
0,0,2539329,1,1,2,8,NaN,196,1,0
1,0,2539329,1,1,2,8,NaN,14084,2,0
2,0,2539329,1,1,2,8,NaN,12427,3,0
3,0,2539329,1,1,2,8,NaN,26088,4,0
4,0,2539329,1,1,2,8,NaN,26405,5,0

In [9]:
Cproducts_df.shape

(49672, 6)

In [11]:
Cproducts_df.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

#### merging Cproducts with orders on product_id

In [20]:
or_pr_df= Cproducts_df.merge(merged_pr_o, on= ['product_id'], indicator= True)

In [21]:
or_pr_df.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,add_to_cart_order,reordered,_merge
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,28,6,11,3.0,5,0,both
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,30,6,17,20.0,1,1,both
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,2,0,21,6.0,20,0,both
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,1,3,13,NaN,10,0,both
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,3,4,17,9.0,11,1,both

In [22]:
or_pr_df['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

#### saving the merged dataframe in new file

In [25]:
or_pr_df.to_pickle(os.path.join(r'C:\Users\analy\Documents\Instacart Basket Analysis\02 Data\Manipulated\ords_prods_merge.pkl'))