In [ ]:
# import libraries
import pandas as pd
import numpy as np
import os

In [17]:
# import data set
pro_or_merge= pd.read_pickle(r'C:\Users\analy\Documents\Instacart Basket Analysis\02 Data\Manipulated\ords_prods_merge.pkl')

In [23]:
pro_or_merge.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,order_number,...,order_time,days_since_prior_order,add_to_cart_order,reordered,price_range_loc,Busiest day,Busiest days,busiest_period_of_day,max_order,loyalty_flag
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,28,...,11,3.0,5,0,midle,Regularly busy,Regularly busy,Most orders,32,Regular customer
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,30,...,17,20.0,1,1,midle,Regularly busy,Regularly busy,Average orders,32,Regular customer
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,2,...,21,6.0,20,0,midle,Busiest day,Busiest day,Average orders,5,New customer
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,1,...,13,NaN,10,0,midle,Regularly busy,Least busy,Most orders,3,New customer
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,3,...,17,9.0,11,1,midle,Least busy,Least busy,Average orders,3,New customer

In [ ]:
# creating order_number mean panda object
pro_or_merge.groupby('department_id')['order_number'].mean()

#### spending habits based on customer Loyality

In [19]:
pro_or_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'median', 'min', 'max']})

                     prices
                       mean median  min      max
loyalty_flag
Loyal customer    10.386336    7.4  1.0  99999.0
New customer      13.294670    7.4  1.0  99999.0
Regular customer  12.495717    7.4  1.0  99999.0

the max number 99999.0 looks like not realistic number. therefore, i will check how many rows contain this value as follows:

In [ ]:
pro_or_merge[pro_or_merge['prices'] == 99999.0]['loyalty_flag'].value_counts()

looks like the 99999.0 is a replacement of NaN. therefore, i will replace it back to NaN and recalculate the Max values

In [20]:
pro_or_merge['prices'] = pro_or_merge['prices'].replace(99999.0, np.nan)

In [21]:
pro_or_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'median', 'min', 'max']})

                     prices
                       mean median  min      max
loyalty_flag
Loyal customer     9.579349    7.4  1.0  14900.0
New customer      10.059917    7.4  1.0  14900.0
Regular customer   9.894716    7.4  1.0  14900.0

looks like the price 14900 is an outlier shifting the mean above. to make sure that this is a true price, i would check what product is that and whether it makes sense.

In [25]:
pro_or_merge[pro_or_merge['prices'] == 14900][['product_name', 'prices']]

                              product_name   prices
13100147  Lowfat 2% Milkfat Cottage Cheese  14900.0
13100148  Lowfat 2% Milkfat Cottage Cheese  14900.0
13100149  Lowfat 2% Milkfat Cottage Cheese  14900.0
13100150  Lowfat 2% Milkfat Cottage Cheese  14900.0
13100151  Lowfat 2% Milkfat Cottage Cheese  14900.0
...                                    ...      ...
13104571  Lowfat 2% Milkfat Cottage Cheese  14900.0
13104572  Lowfat 2% Milkfat Cottage Cheese  14900.0
13104573  Lowfat 2% Milkfat Cottage Cheese  14900.0
13104574  Lowfat 2% Milkfat Cottage Cheese  14900.0
13104575  Lowfat 2% Milkfat Cottage Cheese  14900.0

[4429 rows x 2 columns]

In [26]:
pro_or_merge[pro_or_merge['prices'] == 14900]['product_name'].unique()

array(['Lowfat 2% Milkfat Cottage Cheese'], dtype=object)

according to the check up above about the price 14900, it apears that it shows up under only one product name 'Lowfat 2% Milkfat Cottage Cheese'. which should have the price 4.90 according to instacart website. Therefore, I will replace it in the dataframe as follows

In [27]:
pro_or_merge['prices'] = pro_or_merge['prices'].replace(14900, 4.90)

In [28]:
pro_or_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'median', 'min', 'max']})

                    prices
                      mean median  min   max
loyalty_flag
Loyal customer    7.773226    7.4  1.0  25.0
New customer      7.800766    7.4  1.0  25.0
Regular customer  7.797854    7.4  1.0  25.0

Answer: looks like there are no differences in product prices between the loyaliy groups. and the prices has normal distribution where the mean and the median are close.

#### spending flag based on mean_order

In [30]:
# creating order_mean column grouped by user_id
pro_or_merge['mean_order'] = pro_or_merge.groupby(['user_id'])['order_number'].transform(np.mean)

C:\Users\analy\AppData\Local\Temp\ipykernel_17100\2734630731.py:2: FutureWarning: The provided callable <function mean at 0x000001D4621A4220> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  pro_or_merge['mean_order'] = pro_or_merge.groupby(['user_id'])['order_number'].transform(np.mean)

In [ ]:
pro_or_merge.head()

In [38]:
# creating spending flag column
pro_or_merge.loc[pro_or_merge['mean_order']>=10, 'spending_flag'] = 'High spender'

In [39]:
pro_or_merge.loc[pro_or_merge['mean_order']<10, 'spending_flag'] = 'Low spender'

In [40]:
pro_or_merge['spending_flag'].value_counts(dropna= False)

spending_flag
High spender    20332281
Low spender     12072578
Name: count, dtype: int64

big difference in spending based on our criteria

#### order frequency flag

In [41]:
# creating last_order_median column grouped by days_since_prior_order
pro_or_merge['last_order_median'] = pro_or_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\analy\AppData\Local\Temp\ipykernel_17100\3987715711.py:2: FutureWarning: The provided callable <function median at 0x000001D4622CF2E0> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  pro_or_merge['last_order_median'] = pro_or_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [ ]:
pro_or_merge.head()

In [51]:
# creating frequency flag column based on criterias
pro_or_merge.loc[pro_or_merge['last_order_median']>20, 'frecuency_flag'] = 'Non-frequent customer'

In [49]:
pro_or_merge.loc[(pro_or_merge['last_order_median']>10) & (pro_or_merge['last_order_median']<=20), 'frecuency_flag'] = 'Regular customer'

In [50]:
pro_or_merge.loc[pro_or_merge['last_order_median']<=10, 'frecuency_flag'] = 'frequent customer'

In [ ]:
pro_or_merge.head()

In [53]:
pro_or_merge.to_pickle(r'C:\Users\analy\Documents\Instacart Basket Analysis\02 Data\Manipulated\ords_prods_merge.pkl')